.profile__button-redaction {
    background-image: url(../../../images/button_redaction.png);
    border: 1px solid #FFFFFF;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-color: black;
}

.profile__button-redaction:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .profile__button-redaction {
        width: 18px;
        height: 18px;
    }
}