.profile__image {
    max-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    margin: 36px 33px 51px 0;
}

@media screen and (max-width: 650px) {
    .profile__image {
        margin: 42px 0 26px;
    }
}