.profile__button-add {
    background-image: url(../../../images/button_add.png);
    background-color: black;
    border: 1px solid #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
}